$backgroundColor: #ffffff;
$bodyColor: #000000;
$bodyFont: -apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";

body {
    background: $backgroundColor;
    color: $bodyColor;
    font-family: $bodyFont;
}

%icon-button {
    display: inline-block;

    width: 24px;
    height: 24px;
    
    opacity: 0.75;
    &:hover {
        opacity: 1;
    }
}

.view-on-playground {
    @extend %icon-button;
    background: url("/ceres-dev/assets/icons/playground.svg");
}

pre {
    position: relative;

    .view-on-playground {
        position: absolute;

        top: 2px;
        right: 2px;
    }
}

.header-link {
    @extend %icon-button;        
    background: url("/ceres-dev/assets/icons/link.svg");
}
