<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="utf-8">
        <title>{{ site.title }} · {{ page.title }}</title>
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">

        <link rel="stylesheet", data-name="vs/editor/editor.main" href="{{ site.unpkg.monaco }}/min/vs/editor/editor.main.css">
    </head>
    <body>
        {% include header.html %}

        {{ content }}
    </body>
</html>
