---
layout: default
---

<div class="docs">
    {% include doc_index.html %}

    <main>
        <h1>{{ page.title }}</h1>
    
        {{ content }}
    
        {% include doc_navigation.html %}
    </main>    
</div>

<script defer>
    document.querySelectorAll("figure > pre > code").forEach((block) => {
        const link = document.createElement("a");

        link.ariaLabel = "View on playground";
        link.title = "View on playground";
        link.className = "view-on-playground";
        link.href = `{% link playground.html %}?source=${encodeURI(block.textContent)}`;
        
        block.appendChild(link);
    });

    document.querySelectorAll("main > h2, h3, h4, h5, h6").forEach((header) => {
        const link = document.createElement("a");
        const icon = document.createElement("span");

        link.href = `#${header.id}`;
        link.innerHTML = header.outerHTML;

        icon.title = `{{ page.title }} · ${header.textContent}`;
        icon.className = "link-icon";
        
        link.appendChild(icon);
        header.replaceWith(link);
    });
</script>
